@reference "./app.css";

.prose > * {
  @apply my-5;
}

.prose > *:first-child {
  @apply mt-0;
}

.prose > *:last-child {
  @apply mb-0;
}

.prose ul {
  @apply list-disc pl-5;
}

.prose ol {
  @apply list-decimal pl-5;
}

.prose pre {
  @apply bg-zinc-900 my-4 text-sm text-white rounded-lg p-4 whitespace-pre overflow-auto;
}

.prose :not(pre) > code {
  @apply border rounded-md px-1.5 py-0.5;
  font-size: 0.8em;
}

.prose h1 {
  @apply text-3xl font-bold;
}

.prose h2 {
  @apply text-2xl font-bold;
}

.prose h3 {
  @apply text-xl font-bold;
}

.prose h4 {
  @apply text-lg font-bold;
}

.prose h5 {
  @apply text-base font-bold;
}

.prose h6 {
  @apply text-sm font-bold;
}

.prose .table-wrapper {
  @apply rounded-lg overflow-auto border border-b-0;
}

.prose table {
  @apply border-0 w-full;
}

.prose td,
.prose th {
  @apply p-2 border-b;
}

.prose blockquote {
  @apply border-l-4 border-zinc-300 pl-4 italic text-zinc-600 dark:border-zinc-700 dark:text-zinc-400;
}

.prose a {
  @apply text-blue-500 hover:text-blue-600 underline;
}

.prose strong {
  @apply font-bold;
}

.prose em {
  @apply italic;
}

.prose hr {
  @apply border-t border-zinc-300 dark:border-zinc-700 my-8;
}

.prose img {
  @apply rounded-lg max-w-full h-auto;
}

.prose li + li,
.prose li ul,
.prose li ol {
  @apply mt-2;
}

.prose span.table {
  @apply inline;
}
